<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title - Firsaty</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
   
    
    <meta name="description" content="@ViewBag.Description">
    <meta name="keywords" content="@ViewBag.Description">


    <link rel="stylesheet" href="~/Content/css/owl.carousel.min.css">
    <link rel="shortcut icon" href="~/Content/img/favicon.png" type="image/png">
    <link rel="stylesheet" href="~/Content/css/slick.css">
    <link rel="stylesheet" href="~/Content/css/slick-theme.css">
    <link rel="stylesheet" href="~/Content/css/owl.theme.default.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/style.css">





</head>
<body>

    <div class="pushmenu menu-home5 pushmenu-open">
        <div class="menu-push">
            <span class="close-left js-close"><i class="icon-close f-20"></i></span>
            <div class="clearfix"></div>
  
            <ul class="nav-home5 js-menubar">
                @{ Html.RenderAction("Mobileheader", "Home"); }
            </ul>
        </div>
    </div>


    <!-- end push menu-->
    <div class="wrappage">
        <header id="header" class="header-v2">


            <div class="header-center">
                <div class="container container-240">
                    <div class="row flex">
                        <div class="col-lg-3  col-md-3 col-sm-6 col-xs-6 v-center header-sub">
                            <div class="right-panel">
                                <div class="header-sub-element hidden-xs hidden-sm">

                                    <div class="sub-left">
                                        <a href="https://api.whatsapp.com/send?phone=905378487725" target="_blank">
                                            <img src="~/Content/img/icon-call.png" alt="">
                                        </a>
                                    </div>
                                    <div class="sub-right">
                                        <a href="https://api.whatsapp.com/send?phone=905378487725" target="_blank">
                                            <span>Call Us Free</span>
                                        </a>
                                        <div class="phone" dir="ltr"> </div>

                                    </div>

                                </div>
                                <div class="header-sub-element row">


                                    <a href="#" class="hidden-md hidden-lg icon-pushmenu js-push-menu">
                                        <i class="fa fa-bars f-15"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 v-center header-search hidden-xs hidden-sm">
                            <form method="get" class="searchform ajax-search" autocomplete="off" action="@Url.Action("search","Home")" role="search">
                                <input type="hidden" name="type" value="product">
                                <input type="text" dir="rtl" name="search" class="form-control" placeholder="أبحث عن ...">

                                <span class="input-group-btn">
                                    <button class="button_search" style="display:none" type="button"><i class="ion-ios-search-strong"></i></button>
                                </span>
                            </form>

                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 v-center header-logo">
                            <a href="https://www.firsaty.com"><img src="~/Content/img/logo.png" alt="" class="img-reponsive"></a>
                        </div>
                    </div>
                </div>
            </div>
            @{ Html.RenderAction("header", "Home"); }


        </header>



        @RenderBody()


        <!-- / end content -->
        <footer dir="rtl">
            <div class="f-top">
                <div class="container container-240">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <div class="footer-block footer-about">
                                <div class="f-logo">
                                    <a href="#"><img src="~/Content/img/logo.png" alt="" class="img-reponsive"></a>
                                </div>
                                <ul class="footer-block-content">
                                    <li class="">
                                        <span>اسطنبول تركيا</span>
                                    </li>
                                    <li class="">
                                        <span dir="ltr">(+90) 537 848 77 25 </span>
                                    </li>
                                    <li class="">
                                        <span dir="ltr">info@firsaty.com</span>
                                    </li>
                                    <li>
                                        <span dir="ltr"> 7/24</span>
                                    </li>
                                </ul>

                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                            <div class="footer-block">
                                <h3 class="footer-block-title">اقسام الموقع</h3>
                                <ul class="footer-block-content">
                                    @{ Html.RenderAction("categories"); }
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
                            <div class="footer-block">
                                <h3 class="footer-block-title">حول الموقع</h3>
                                <ul class="footer-block-content">
                                    <li><a href="https://www.firsaty.com">الرئيسية</a></li>
                                    <li><a href="#">حولنا</a></li>
                                    <li><a href="#">تواصل معنا</a></li>
                                    <li><a href="#"></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                            <div class="footer-block">

                                <div class="footer-block-newsletter">
                                    <h3 class="footer-block-title">الاشتراك</h3>
                                    <p>اشترك بالبريد الالكتروني ليصلك اخر الاخبار.</p>
                                    <form class="form_newsletter" action="@Url.Action("subscribe","Home")" method="post">
                                        @Html.AntiForgeryToken()
                                        <input type="email" value="" placeholder="عنوان البريد الالكتروني" name="Mail" id="Mail" class="newsletter-input form-control">
                                        <button id="subscribe" class="button_mini btn btn-gradient" type="submit">
                                            اشتراك
                                        </button>
                                    </form>
                                </div>
                                <div class="social">
                                    <h3 class="footer-block-title">تابعونا على</h3>
                        
                                    <a href="https://www.instagram.com/firsatycom/" class="fa fa-instagram"></a>
                                    <a href="https://www.facebook.com/%D9%81%D8%B1%D8%B5%D8%AA%D9%8A-Firsaty-107104861154372/?modal=admin_todo_tour" class="fa fa-facebook"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="f-bottom">
                <div class="container container-240">
                    <div class="row flex lr">
                        <div class="col-xs-6 f-copyright"><span>2020-2019© جميع الحقوق محفوظلة ل Firsaty.com.</span></div>
                        <div class="col-xs-6 f-payment hidden-xs">
                        </div>
                    </div>
                </div>
            </div>
        </footer>



        <style>
            /* Popup box BEGIN */
            .hover_bkgr_fricc {
                background: rgba(0,0,0,.4);
                cursor: pointer;
                display: none;
                height: 100%;
                position: fixed;
                text-align: center;
                top: 0;
                width: 100%;
                z-index: 10000;
            }

                .hover_bkgr_fricc .helper {
                    display: inline-block;
                    height: 100%;
                    vertical-align: middle;
                }

                .hover_bkgr_fricc > div {
                    background-color: #fff;
                    box-shadow: 10px 10px 60px #555;
                    display: inline-block;
                    height: auto;
                    max-width: 551px;
                    min-height: 100px;
                    vertical-align: middle;
                    width: 60%;
                    position: relative;
                    border-radius: 8px;
                    padding: 15px 5%;
                }

            .popupCloseButton {
                background-color: #fff;
                border: 3px solid #999;
                border-radius: 50px;
                cursor: pointer;
                display: inline-block;
                font-family: arial;
                font-weight: bold;
                position: absolute;
                top: -20px;
                right: -20px;
                font-size: 25px;
                line-height: 30px;
                width: 30px;
                height: 30px;
                text-align: center;
            }

                .popupCloseButton:hover {
                    background-color: #ccc;
                }

            .trigger_popup_fricc {
                cursor: pointer;
                font-size: 20px;
                margin: 20px;
                display: inline-block;
                font-weight: bold;
            }
            /* Popup box BEGIN */

        </style>

        <a class="trigger_popup_fricc" style="display:none"></a>

        <div class="hover_bkgr_fricc">
            <span class="helper"></span>
            <div>
                <div class="popupCloseButton">&times;</div>
                @ViewBag.added
            </div>
        </div>
    </div>






    <script src="~/Content/js/jquery.js"></script>
    <script src="~/Content/js/bootstrap.js"></script>
    <script src="~/Content/js/owl.carousel.min.js"></script>
    <script src="~/Content/js/slick.min.js"></script>
    <script src="~/Content/js/countdown.js"></script>
    <script src="~/Content/js/main.js"></script>
    <script type="text/javascript">

        $(window).load(function () {
            $(".trigger_popup_fricc").click(function () {
                $('.hover_bkgr_fricc').show();
            });
            $('.hover_bkgr_fricc').click(function () {
                $('.hover_bkgr_fricc').hide();
            });
            $('.popupCloseButton').click(function () {
                $('.hover_bkgr_fricc').hide();
            });
        });



    </script>
    @if (ViewBag.added != null)
    {
        <script type="text/javascript">

            $(window).load(function () {
                $(".trigger_popup_fricc").click();
            });



        </script>

    }
</body>
</html>
