@model IEnumerable<firsaty.Models.Product>
@{ Layout = null;}




<div class="product-tab v2" dir="rtl">
    <div class="container container-240">
        <div class="title-icon t-column mg-50">
            <div class="t-inside">
                <img src="~/Content/img/real.png" alt="">
            </div>
            <h1>أحدث العروض</h1>
        </div>
        <div class="tab-content">
            <div id="tv" class="tab-pane active fade in">
                <div class="row">

                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="row">
                            @foreach (var item in Model)
                            {

                            <div class="col-xs-6 col-sm-4 col-md-4 product-item">
                                <a href="@Url.Action("Product","Home",new {id=item.ID })">
                                    <div class="pd-bd product">
                                        <div class="product-img">
                                            <a href="@Url.Action("Product","Home",new {id=item.ID })">
                                                @if (item.Image.Contains("cimri"))
                                                {
                                                    <img src="@item.Image" alt="" class="img-reponsive">
                                                }
                                                else
                                                {

                                                    <img src="https://admin.firsaty.com/@item.Image" alt="" class="img-reponsive">
                                                }
                                            </a>
                                            <div class="ribbon-price red"><span>جديد </span></div>
                                        </div>
                                        <div class="product-info">
                                            <div class="color-group"></div>

                                            <div class="element-list element-list-middle">


                                                <div class="product-bottom">
                                                    <div class="product-price">
                                                        <p class="product-cate"><br /></p>
                                                        <h3 class="product-title">

                                                            @if (item.Title.Length > 30)
                                                            {
                                                                <a href="@Url.Action("Product","Home",new {id=item.ID })" tabindex="0">


                                                                    @item.Title.Substring(0, 30)

                                                                </a>
                                                            }
                                                            else
                                                            {

                                                                <a href="@Url.Action("Product","Home",new {id=item.ID })" tabindex="0">


                                                                    @item.Title

                                                                </a>


                                                            }


                                                        </h3>
                                                    </div>
                                                    <a href="@Url.Action("Product","Home",new {id=item.ID })" class="btn-icon btn-view" tabindex="0">
                                                        <span class="icon-bg icon-view"></span>
                                                    </a>
                                                </div>

                                                <br />
                                            </div>
                                            <div class="product-button-group">
                                                @foreach (var prices in item.Prices.Take(3))
                                                {
                                                    <a href="@prices.URL" target="_blank" class="btn-icon" tabindex="0">
                                                        <ul>



                                                            <li>
                                                                <img src="https://admin.firsaty.com/@prices.Image" height="50%" width="50%" alt="Alternate Text" style="margin-right:14px;" />

                                                            </li>
                                                            <li>
                                                                <span class="red" style="margin-right: 14px;">
                                                                    @prices.Price1 TL
                                                                </span>
                                                            </li>
                                                        </ul>

                                                    </a>


                                                }


                                            </div>
                                        </div>
                                    </div>
                                    </a>
                            </div>

                            }




                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>