@model IEnumerable<firsaty.Models.Category>
@{

    Layout = null;
}


<li class="level1">
    <a href="@Url.Action("Index","Home")">
        الرئيسية
    </a>
</li>
@foreach (var item in Model)
{

        <li class="level1 active dropdown">
            <a href="@Url.Action("category","Home",new { id=item.ID})">  @item.Name</a>
            <span class="icon-sub-menu"></span>
            <ul class="menu-level1 js-open-menu" style="display: none;">
                @foreach (var subitem in item.SubCategories)
                {
                    <li class="level2">
                        <a href="@Url.Action("Subcategory","Home",new { id=subitem.ID})" title="@subitem.Name ">@subitem.Name </a>
                    </li>



                }

            </ul>
        </li>



}

<li class="level1">
    <a href="@Url.Action("About","Home")">
        حولنا
    </a>
</li>

<li class="level1">
    <a href="@Url.Action("Contact","Home")">
        تواصل معنا
    </a>
</li>