@model firsaty.Models.Product

@{
    ViewBag.Title = "-فرصتي-"+ Model.Title +"firsaty";
    ViewBag.Description  = Model.Description;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container container-240">
    <div class="banner-callus v2 spc1 image-bd effect_img2">
        <a href="#"><img src="~/Content/img/h1_b7.jpg" alt="" class="img-responsive"></a>
    </div>
</div>
<!--content-->
<div class="container container-240" dir="rtl">
    <div class="single-product-detail product-bundle product-aff">
        <ul class="breadcrumb">


            <li><a href="@Url.Action("index","Home")">الرئيسية</a></li>
            <li><a href="@Url.Action("category","Home",new {id= ViewBag.cateID })"> @ViewBag.cateName</a></li>
            <li><a href="@Url.Action("Subcategory","Home",new {id= ViewBag.SubID })"> @ViewBag.SubName</a></li>

        </ul>
        <div class="row">
   
            <div class="col-xs-12 col-sm-6 col-md-6">

                <div class="flex product-img-slide">


                    <div class="product-images">
                        <div class="main-img js-product-slider" dir="ltr">
                            <a href="#" class="hover-images effect active">
                                @if (Model.Image.Contains("cimri"))
                                {
                                    <img src="@Model.Image" alt="" class="img-reponsive">
                                }
                                else
                                {

                                    <img src="https://admin.firsaty.com/@Model.Image" alt="" class="img-reponsive">
                                }


                            </a>
                            @foreach (var item in Model.Images)
                            {


                            <a href="#" class="hover-images effect">

                      

                                @if (item.Image1.Contains("cimri"))
                                {
                                    <img src="@item.Image1" alt="" class="img-reponsive">
                                }
                                else
                                {

                                    <img src="https://admin.firsaty.com/@item.Image1" alt="" class="img-reponsive">
                                }

                            </a>
                            }
                        </div>
                    </div>
                    <div class="multiple-img-list-ver2 js-click-product">
                        <div class="product-col">
                            <div class="img active">

                                @if (Model.Image.Contains("cimri"))
                                {
                                    <img src="@Model.Image" alt="" class="img-reponsive">
                                }
                                else
                                {

                                    <img src="https://admin.firsaty.com/@Model.Image" alt="" class="img-reponsive">
                                }
                             
                            </div>
                        </div>

                        @foreach (var item in Model.Images)
                        {
                            <div class="product-col">
                                <div class="img">

                                    @if (item.Image1.Contains("cimri"))
                                    {
                                        <img src="@item.Image1" alt="" class="img-reponsive">
                                    }
                                    else
                                    {

                                        <img src="https://admin.firsaty.com/@item.Image1" alt="" class="img-reponsive">
                                    }
                          
                                </div>
                            </div>
                        }

                    </div>
                </div>


            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="single-flex">
                    <div class="single-product-info product-info product-grid-v2 s-50">


                        <h3 class="product-title"><a href="#">@Model.Title</a></h3>



                        <div class="product-sku">
                            <label>رقم القطعة :</label><span>#12366-@Model.ID</span>
                        </div>
                        <div class="product-rating">
                            <span class="star star-5"></span>
                            <span class="star star-4"></span>
                            <span class="star star-3"></span>
                            <span class="star star-2"></span>
                            <span class="star star-1"></span>
                            <div class="number-rating"></div>
                        </div>
                        <div class="short-desc">
                            <p class="product-desc">  @Html.Raw(@Model.Description).</p>
                          
                            <ul class="desc-list"></ul>
                        </div>



                        <div class="product-tags">
                            <label>  الفئات:  </label>
                            <a href="#">@ViewBag.cateName,</a>
                            <a href="#">@ViewBag.SubName,</a>
                        </div>
                    </div>
                    <div class="single-product-feature s-50">
                        <div class="bd-7">

                            @foreach (var priceitem in Model.Prices)
                            {

                                <div class="single-feature-box">
                                    <a href="@priceitem.URL" target="_blank">
                                        <div class="single-feature-img">
                                            <img width="42px" src="https://admin.firsaty.com/@priceitem.Image" alt="">
                                        </div>
                                    </a>
                                    <a href="@priceitem.URL" target="_blank">
                                        <div class="single-feature-info" style="padding-right:30px">
                                            <h3>@priceitem.Price1 TL</h3>
                                        </div>
                                    </a>
                                </div>


                            }





                        </div>
                        <div class="hot-line e-gradient">
                            <p>للتواصل</p>
                            <div class="flex align-center tele">
                                <img src="~/Content/~/Content/img/feature/hotline.png" alt="">
                                <div class="phone-number" dir="ltr">
                                    <p>info@firsaty.com </p>
                                    <p>(+90) 537 848 77 25</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>

</div>

<div class="product-tab v2" dir="rtl">
    <div class="container container-240">
        <div class="ecome-heading style4 spc4">
            <div class="title-icon e-gradient v2" style="padding-right:25px">
              منتجات ذات صلة
            </div>
        
        </div>
        @{ Html.RenderAction("ProductsBySub", "Home", new { id = Model.CategoryID }); }

    </div>
</div>